<%- include("partials/header")-%>

<div class="body">
	<h1>Compose</h1>
	<form method="post">
		<input name="title" placeholder="Enter title" /><br />
		<textarea name="body" placeholder="Enter body" rows="5"></textarea
		><br /><br />
		<button class="btn btn-dark">Post</button>
	</form>
</div>
